<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDIQLb89W0jJ_dMXCSA0h6mtiP5EDMRRM</string>
	<key>GCM_SENDER_ID</key>
	<string>776648727830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessTracker</string>
	<key>PROJECT_ID</key>
	<string>fitness-tracker-cd464</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-tracker-cd464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776648727830:ios:628be1710f04c7438cc437</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-tracker-cd464-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>